<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fernando Schimidt</title>
</head>
<body>
    <h1 style='color:red'>AGORA SIM EM</h1>
<hr>
<p>Vai corithians</p>
<p>Nome: <%= nome %></p>
<p>Nome do curso: <%= curso%></p>
<p>Categoria : <%= categoria %></p>
<img src='https://avatars1.githubusercontent.com/u/40704350?s=460&v=4'/>
 
</body>
</html>